body {
    background-color: darkgray;
}
.canvas {
    display: block;
    margin: auto;
    margin-top: 45px;
}

div.row {
    display: block;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    width: max-content;
}

.black {
    background-color: black;
}
.ink_options {
    text-align: center;
}
.ink_option {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 10px;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.white {
    background-color: white;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.gray {
    background-color: gray;
}
.orange {
    background-color: orange;
}
.purple {
    background-color: purple;
}
.fuchsia {
    background-color: fuchsia;
}
.navy {
    background-color: navy;
}
.teal {
    background-color: teal;
}
.aqua {
    background-color: aqua;
}
.lime {
    background-color: lime;
}
.olive {
    background-color: olive;
}
.maroon {
    background-color: maroon;
}
.silver {
    background-color: silver;
}
div.cell {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0px;
    margin: 0px;
    border: 1px solid gray;
    background-color: lightgray;
}

#color_choice {
    display: block;
    height: 75px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.current_color {
    vertical-align: text-top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}